@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body { 
    font-family: 'Inter', sans-serif; 
    background-color: #FFF8F0; 
}

h1, h2, h3, h4, h5, h6 { 
    font-family: 'Playfair Display', serif; 
}

::-webkit-scrollbar { 
    width: 8px; 
}

::-webkit-scrollbar-track { 
    background: #FFF8F0; 
}

::-webkit-scrollbar-thumb { 
    background: #EADDCA; 
    border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover { 
    background: #D4C8B8; 
}

.input-section textarea, 
.input-section input[type="text"],
#edit-recipe-modal textarea, 
#edit-recipe-modal input[type="text"],
#edit-recipe-modal input[type="text"], 
#edit-recipe-modal input[type="number"],
#manualInputSection textarea, 
#manualInputSection input[type="text"] {
    border-color: #EADDCA;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.input-section textarea:focus, 
.input-section input[type="text"]:focus,
#edit-recipe-modal textarea:focus, 
#edit-recipe-modal input[type="text"]:focus,
#edit-recipe-modal input[type="number"]:focus,
#manualInputSection textarea:focus, 
#manualInputSection input[type="text"]:focus {
    border-color: #B99A7B;
    box-shadow: 0 0 0 3px rgba(185, 154, 123, 0.2);
}

#loading-overlay p { 
    font-family: 'Inter', sans-serif; 
} 